<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>団体名変更</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>

    <a href="/home">ホーム</a>
    <a href="/search">検索</a>
    <a href="/members">メンバー</a>
    <a href="/logout">ログアウト</a>

</nav>

<div class="container">

    <h1>団体名変更</h1>

    <p>
        現在：
        {{ group["group_name"] }}
    </p>

    <form method="POST">

        <input
            type="text"
            name="group_name"
            placeholder="新しい団体名"
            required>

        <button>
            変更
        </button>

    </form>

</div>

</body>
</html>